.module{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* , backgroundPosition:'center center', backgroundRepeat:'no-repeat', backgroundSize:'cover', height:'33vh' */
.hero-img{
     background-position: center center;
     background-size: cover;
     height: 43vh;
}

